<% breadcrumb :root %>
<div class="rw-l-banner">
  <%= render "shared/featured_insight_banner" %>
</div>
<div class="row">
  <div class="col -xs-12">
    <section class="rw-l-section">
      <header class="header -col">
        <h2 class="title">Read the latest stories, findings, and analysis from our community</h2>
        <p>Our community of collaborators introduce some of the insights the data is already telling us</p>
      </header>

      <%= render "shared/insights" %>

      <button class="action -gray">
        <%= link_to page_path('insights'), class:'link' do %>
          <%= t('insights.explore') %>
        <% end %>
      </button>
    </section>
  </div>
</div>

<%= render "shared/planet_pulse" %>

<div class="row">
  <div class="col -xs-12">
    <section class="rw-l-section">
      <%= render "shared/explore_dashboard" %>
    </section>
  </div>
</div>
