<footer class="rw-l-footer">

  <div class="rw-footer-separator">
    <h3><%= link_to t('titles.partners'), page_path('partners') %></h3>
  </div>

  <div class="row">
    <div class="col -xs-12">
      <ul class="rw-footer-carousel js-footer-carousel -invisible">
        <li><a href="#" title="CartoDB"><%= image_tag "partners/cartodb@2x.png", alt: "CartoDB", height: "27px", width: "105px" %></a></li>
        <li><a href="#" title="Danish International Development Agency"><%= image_tag "partners/danida.png", alt: "Danish International Development Agency", height: "20px", width: "140px" %></a></li>
        <li><a href="#" title="Descartes Labs"><%= image_tag "partners/descarteslabs@2x.png", alt: "Descartes Labs", height: "32px", width: "106px" %></a></li>
        <li><a href="#" title="DigitalGlobe"><%= image_tag "partners/digitalglobe@2x.png", alt: "DigitalGlobe", height: "30px", width: "141px" %></a></li>
        <li><a href="#" title="The Earth Genome"><%= image_tag "partners/earthgenome@2x.png", alt: "The Earth Genome", height: "37px", width: "94px" %></a></li>
        <li><a href="#" title="Ecosystems Services for Poverty Alleviation"><%= image_tag "partners/espa.png", alt: "Ecosystems Services for Poverty Alleviation", height: "25px", width: "94px" %></a></li>
        <li><a href="#" title="esri"><%= image_tag "partners/esri.png", alt: "esri", height: "29px", width: "80px" %></a></li>
        <li><a href="#" title="Global Partnership"><%= image_tag "partners/globalpartnership.png", alt: "Global Partnership", height: "29px", width: "100px" %></a></li>
        <li><a href="#" title="Google"><%= image_tag "partners/google@2x.png", alt: "Google", height: "28px", width: "86px" %></a></li>
        <li><a href="#" title="The North American Electric Reliability Corporation"><%= image_tag "partners/nerc.png", alt: "The North American Electric Reliability Corporation", height: "33px", width: "45px" %></a></li>
        <li><a href="#" title="Ministry of Foreign Affairs of the Netherlands"><%= image_tag "partners/netherlands.png", alt: "Ministry of Foreign Affairs of the Netherlands", height: "53px", width: "128px" %></a></li>
        <li><a href="#" title="Research into Results"><%= image_tag "partners/researchintoresults.png", alt: "Research into Results", height: "40px", width: "65px" %></a></li>
        <li><a href="#" title="Swedish International Development Cooperation Agency"><%= image_tag "partners/sida.png", alt: "Swedish International Development Cooperation Agency", height: "39px", width: "77px" %></a></li>
        <li><a href="#" title="Tilia Fund"><%= image_tag "partners/tilia.png", alt: "Tilia Fund", height: "33px", width: "48px" %></a></li>
        <li><a href="#" title="University of Maryland"><%= image_tag "partners/umd@2x.png", alt: "University of Maryland", height: "44px", width: "45px" %></a></li>
        <li><a href="#" title="United Nations Development Programme"><%= image_tag "partners/undp.png", alt: "United Nations Development Programme", height: "54px", width: "27px" %></a></li>
        <li><a href="#" title="United Nations Environment Programme"><%= image_tag "partners/unep@2x.png", alt: "United Nations Environment Programme", height: "51px", width: "45px" %></a></li>
        <li><a href="#" title="University of Edinburgh"><%= image_tag "partners/uniedim.png", alt: "University of Edinburgh", height: "49px", width: "48px" %></a></li>
        <li><a href="#" title="Vizzuality"><%= image_tag "partners/vizzuality@2x.png", alt: "Vizzuality", height: "25px", width: "98px" %></a></li>
        <li><a href="#" title="World Resources Institute"><%= image_tag "partners/wri@2x.png", alt: "World Resources Institute", height: "42px", width: "119px" %></a></li>
      </ul>
    </div>
  </div>

  <%# Footer top %>
  <div class="rw-l-top-footer">
    <div class="row">
      <div class="col -xs-12 -md-1 rw-footer-logo">
        <svg class="rw-icon rw-icon-symbol-grey">
          <use xlink:href="#icon-symbol-grey"></use>
        </svg>
      </div>
      <div class="col -xs-12 -md-11">
        <%# Footer navigation %>
        <ul class="rw-footer-nav">
          <li>
            <%= link_to t('titles.insights'), insights_path %>
            <ul>
              <li><a href="#">Popular insights</a></li>
              <li><a href="#">Collections</a></li>
              <li><a href="#">Create an insight</a></li>
            </ul>
          </li>
          <li>
            <%= link_to t('titles.explore'), explore_index_path %>
            <ul>
              <li><a href="#">Data map</a></li>
              <li><a href="#">Dataset</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><%= t('apps') %></a>
            <ul>
              <li><a href="#">Popular apps</a></li>
              <li><a href="#">iOS apps</a></li>
              <li><a href="#">Android apps</a></li>
              <li><a href="#">Web apps</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><%= t('get_involved') %></a>
            <ul>
              <li><a href="#">Create insights</a></li>
              <li><a href="#">Share data</a></li>
              <li><a href="#">Develop an app</a></li>
              <li><a href="#">Help improve the data</a></li>
              <li><a href="#">Become a partner</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><%= t('help') %></a>
            <ul>
              <li><a href="#">Site tour</a></li>
              <li><a href="#">Help center</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><%= t('more') %></a>
            <ul>
              <li><%= link_to t('titles.dashboards'), countries_path %></li>
              <li><%= link_to t('titles.planet_pulse'), planet_pulse_path %></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <%# Footer bottom %>
  <div class="rw-l-bottom-footer">
    <div class="row">
      <div class="col -xs-12 -sm-6">
        <%# Bottom navigation %>
        <ul class="rw-bottom-nav">
          <li><%= link_to t('titles.terms'), page_path('terms') %></li>
          <li>-</li>
          <li><%= link_to t('titles.privacy'), page_path('privacy') %></li>
        </ul>
      </div>
      <div class="col -xs-12 -sm-6">
        <%# Copy %>
        <p class="rw-copy">© <%= Time.now.strftime('%Y') %> - <%= @site_name %></p>
      </div>
    </div>
  </div>

</footer>
