<header id="header" class="rw-l-header">

  <%# Header top %>
  <!-- <div class="rw-l-top-header">
    <div class="row">
      <div class="col -xs-12 -sm-6 -sm-offset-6">
        <%# Language navigation %>
        <div class="rw-header-lang js-header-lang-menu">
          <%= t('languages.english') %>
          <ul class="rw-lang-nav -hidden js-nav">
            <li><%= t('languages.english') %></li>
            <li><%= t('languages.french') %></li>
            <li><%= t('languages.deutsche') %></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <%# Header navigation bar %>
  <div class="rw-l-nav-header -vcenter">
    <div class="row -vcenter">
      <div class="col -xs-12 -md-4 rw-top-nav">
        <%# Brand zone %>
        <%= link_to root_path, class: "rw-brand" do %>
          <svg class="rw-icon rw-icon-logo">
            <use xlink:href="#icon-logo"></use>
          </svg>
        <% end %>
        <div class="rw-menu-btn">
          <button type="button"> Menu </button>
        </div>
      </div>
      <div class="col -xs-12 -md-8">
        <%# Main navigation %>
        <nav class="rw-main-nav">
          <ul>
            <li class="-dropdown -white js-dropdown">
              Data
              <div class="dropdown">
                <ul class="list">
                  <li ><%= link_to t('titles.all_data'), explore_index_path, class: active_page_class?(explore_index_path) %></li>
                  <li ><%= link_to 'Dashboards', '/dashboards' %></li>
                  <li ><%= link_to t('titles.planet_pulse'), planet_pulse_path, class: active_page_class?(planet_pulse_path) %></li>
                </ul>
              </div>
            </li>
            <li ><%= link_to t('titles.insights'), page_path('insights'), class: active_page_class?(page_path('insights')) %></li>
            <li class="-dropdown -white js-dropdown">
              About
              <div class="dropdown">
                <ul class="list">
                  <li ><%= link_to t('titles.partners'), partners_path, class: active_page_class?(partners_path) %></li>
                </ul>
              </div>
            </li>
            <li>
              <%= link_to t('get_involved'), '/get-involved' %>
            </li>
            <li>
              <%= link_to t('login'), '/login' %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</header>
