<div id="content" class="prototype">
  <div class="container">
    <!-- <section>
      <header class="insights--discover-title section-header">
        <h3>Discover Insights</h3><a class="section-header-link is-disabled is-link">advanced search</a></header>
      <div class="insights--search-container">
        <input placeholder="Search topics and places" class="insights--search-input"><a class="insights--search-submit button button-large is-disabled">Search</a></div>
    </section> -->
    <section>
      <header class="section-header">
        <h3>Featured insights</h3>
        <!-- <a href="#" class="section-header-link">View More <i class="fa fa-angle-right"></i></a>--></header>
      <div class="insights--featured">
        <a href="insights-interactive-map.html" class="hero-link-wrap"></a>
        <div class="insights--featured-title">
          <div class="insights--featured-sub-title">Featured insight</div><a href="insights-interactive-map.html">Farms to feel squeeze as competition for water increases</a></div>
        <div class="insights--featured-info">
          <div class="insights--featured-info-source"><%= image_tag "/prototype/avatar-wri.png" %><span>by&nbsp;<a href="partners-wri.html">World Resources Institute</a></span></div>
          <div class="insights--featured-info-stars active">
            <svg class="icon icon-star">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
            </svg><span>6,574</span></div>
        </div>
      </div>
      <div class="gridbox">
        <div class="cell">
          <div class="card insight">
            <div class="card-image">
              <a href="insights-interactive-edi.html"><%= image_tag "/prototype/insight-38-th.jpg"%>
            </div>
            <div class="card-content">
              <h6 class="card-sub-title">Interactive</h6>
              <h5 class="card-title"><a href="insights-interactive-edi.html">A factory is being built in your neighborhood. Can you do anything about it?</a></h5></div>
            <ul class="card-info">
              <li class="card-info-source"><%= image_tag "/prototype/avatar-wri.png" %><span>by &nbsp;<a href="partners-wri.html">World Resources Institute</a></span></li>
              <li class="card-info-stars">
                <svg class="icon icon-star">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
                </svg><span>1,349</span></li>
            </ul>
          </div>
        </div>
        <div class="cell">
          <div class="card insight">
            <div class="card-image">
              <a href="insights-slideshow-peru.html"><%= image_tag "/prototype/insight-40-th.jpg"%>
            </div>
            <div class="card-content">
              <h6 class="card-sub-title">Slideshow</h6>
              <h5 class="card-title"><a href="insights-slideshow-peru.html">The Water Guardians of the Andes</a></h5></div>
            <ul class="card-info">
              <li class="card-info-source"><%= image_tag "/prototype/avatar-wri.png" %><span>by &nbsp;<a href="partners-wri.html">World Resources Institute</a></span></li>
              <li class="card-info-stars">
                <svg class="icon icon-star">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
                </svg><span>3,249</span></li>
            </ul>
          </div>
        </div>
        <div class="cell">
          <div class="card insight">
            <div class="card-image">
              <a href="insights-interactive-map.html"><%= image_tag "/prototype/insight-39-th.jpg"%>
            </div>
            <div class="card-content">
              <h6 class="card-sub-title">Interactive</h6>
              <h5 class="card-title"><a href="insights-interactive-map.html">Farms to feel squeeze as competition for water increases</a></h5></div>
            <ul class="card-info">
              <li class="card-info-source"><%= image_tag "/prototype/avatar-wri.png" %><span>by &nbsp;<a href="partners-wri.html">World Resources Institute</a></span></li>
              <li class="card-info-stars active">
                <svg class="icon icon-star">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
                </svg><span>6,574</span></li>
            </ul>
          </div>
        </div>
        <div class="cell">
          <div class="card insight">
            <div class="card-image">
              <a href="insights-story.html"><%= image_tag "/prototype/insight-21-th.jpg"%>
            </div>
            <div class="card-content">
              <h6 class="card-sub-title">Story</h6>
              <h5 class="card-title"><a href="insights-story.html">Zooming In: “Sustainable” Cocoa Producer Destroys Pristine Forest in Peru</a></h5></div>
            <ul class="card-info">
              <li class="card-info-source"><%= image_tag "/prototype/avatar-wri.png" %><span>by &nbsp;<a href="partners-wri.html">World Resources Institute</a></span></li>
              <li class="card-info-stars active">
                <svg class="icon icon-star">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
                </svg><span>6,574</span></li>
            </ul>
          </div>
        </div>
        <div class="cell">
          <div class="card insight is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/insight-23-th.jpg"%>
            </div>
            <div class="card-content">
              <h6 class="card-sub-title">Map</h6>
              <h5 class="card-title"><a class="is-link">Climate change will increase chance of people being affected by floods</a></h5></div>
            <ul class="card-info">
              <li class="card-info-source"><%= image_tag "/prototype/avatar-wri.png" %><span>by &nbsp;<a href="partners-wri.html">World Resources Institute</a></span></li>
              <li class="card-info-stars">
                <svg class="icon icon-star">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
                </svg><span>6,574</span></li>
            </ul>
          </div>
        </div>
        <div class="cell">
          <div class="card insight is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/insight-5-th.jpg"%>
            </div>
            <div class="card-content">
              <h6 class="card-sub-title">Story</h6>
              <h5 class="card-title"><a class="is-link">Deforestation of intact forests is predictable</a></h5></div>
            <ul class="card-info">
              <li class="card-info-source"><%= image_tag "/prototype/avatar-2.jpg"%><span>by &nbsp;<a class="is-link">Marion Johnson</a></span>
              <li class="card-info-stars">
                <svg class="icon icon-star">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
                </svg><span>6,574</span></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <header class="section-header">
        <h3>Insight collections</h3></header>
      <div class="gridbox">
        <div class="cell">
          <div class="card category">
            <div class="card-image">
              <a href="insights-collection.html"><%= image_tag "/prototype/collection-1-th.jpg"%>
            </div>
            <div class="card-caption"><a href="insights-collection.html">Water and Drought</a></div>
          </div>
        </div>
        <div class="cell">
          <div class="card category is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/collection-2-th.jpg"%>
            </div>
            <div class="card-caption"><a class="is-link">Rainforest Observatory</a></div>
          </div>
        </div>
        <div class="cell">
          <div class="card category is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/collection-3-th.jpg"%>
            </div>
            <div class="card-caption"><a class="is-link">Biodiversity Observatory 2015</a></div>
          </div>
        </div>
        <div class="cell">
          <div class="card category is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/collection-4-th.jpg"%>
            </div>
            <div class="card-caption"><a class="is-link">BiodWorld’s Overpopulation</a></div>
          </div>
        </div>
        <div class="cell">
          <div class="card category is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/collection-5-th.jpg"%>
            </div>
            <div class="card-caption"><a class="is-link">Oceanic Pollution</a></div>
          </div>
        </div>
        <div class="cell">
          <div class="card category is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/collection-6-th.jpg"%>
            </div>
            <div class="card-caption"><a class="is-link">2015 Nepal Earthquake</a></div>
          </div>
        </div>
        <div class="cell">
          <div class="card category is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/collection-7-th.jpg"%>
            </div>
            <div class="card-caption"><a class="is-link">Worldwide Deforestation</a></div>
          </div>
        </div>
        <div class="cell">
          <div class="card category is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/collection-8-th.jpg"%>
            </div>
            <div class="card-caption"><a class="is-link">Third World Climate Change</a></div>
          </div>
        </div>
        <div class="cell">
          <div class="card category is-disabled">
            <div class="card-image">
              <a class="is-link"><%= image_tag "/prototype/collection-9-th.jpg"%>
            </div>
            <div class="card-caption"><a class="is-link">Extinct Species in the 21st Century</a></div>
          </div>
        </div>
      </div>
    </section>
    <!-- planet-pulse-->
    <section>
      <header class="section-header">
        <h3>Planet Pulse</h3><a href="/planet-pulse" class="section-header-link">Launch<i class="fa fa-angle-right"></i></a></header>
      <div class="banner">
        <a href="planet-pulse.html"><%= image_tag "/prototype/planet-pulse-1.png"%> class="banner-image"
        <h3 class="banner-header">Real-time data monitoring the planet</h3><a href="planet-pulse.html" class="banner-button button button-large">Launch Planet Pulse</a></div>
    </section>
  </div>
</div>
