<% breadcrumb :countries %>

<div class="row">
  <div class="col -xs-12">
    <header class="main-header">
      <h1><%= t('countries.title') %></h1>
      <a id="fullscreenBtn" class="link fullscreen-btn" href="#">
        <%= t('fullscreen.set') %>
      </a>
    </header>
    <%= form_tag nil, id: 'searchForm' do %>
      <div class="input-group">
        <%= search_field_tag :q, nil, placeholder: t('datasets.search') %>
        <%= submit_tag t('search') %>
      </div>
    <% end %>
    <div id="countries"></div>
  </div>
</div>
