<div class="content">
  <h4 class="heading">Chart type</h4>
  <select class="type">
    {{#each recomms}}
      <option value="{{type}}" {{#if selected}}selected{{/if}}>{{type}} Chart</option>
    {{/each}}
  </select>
</div>

<div class="content">
  {{#each columns}}
    <div class="action">
      <label class="label">{{label}}:</label>
      <select class="value">
        <option value="">Select...</option>
        {{#each options}}
          <option value="{{column}}" {{#if selected}}selected{{/if}}>{{column.label}}</option>
        {{/each}}
      </select>
    </div>
  {{/each}}
</div>
