{{#if data}}
  <div class="content">
    <h3 class="title">Layer</h3>
    <div class="list">
      <div class="item empty"></div>
      {{#each data}}
        <div class="item" draggable="{{../isDraggable}}">
          <div class="item-info">
            <div class="name">{{name}}</div>
            <div id="lg-{{slug}}" class="legend-spec -{{legendConfig.type}}"></div>
          </div>
          <div>
            <svg class="icon-circle-remove close js-layer-close layerClose" id="switch-{{@index}}" data-name="{{name}}">
              <use xlink:href="#icon-circle-remove"></use>
            </svg>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
