<div class="row">
  <div class="col -xs-12">
    <div class="rw-planet-pulse">
      <header class="planet-pulse-header">
        {{#unless categorySelected}}
          <h1 class="planet-pulse-title">Planet pulse</h1>
        {{/unless}}
        <ul class="planet-pulse-nav">
          {{#each categories}}
            <li class="planet-pulse-nav-link">
            {{#if this.isActive}}
              <a class="category-selector is-active" href="#{{this.category}}" id="{{this.category}}">{{this.category}}</a>
            {{else}}
              <a class="category-selector" href="#{{this.category}}" id="{{this.category}}">{{this.category}}</a>
            {{/if}}
            </li>
          {{/each}}
        </ul>
        <div class="planet-pulse-toolbar">
          <a href="#">Back</a>
          <!-- <button id="fullscreenBtn">Fullscreen</button> -->
        </div>
      </header>
      <div class="planet-pulse-content">
        {{#each categories}}
        {{#if this.isActive}}
          <article class="is-active" id="{{this.category}}">
        {{else}}
          <article id="{{this.category}}">
        {{/if}}
            <h2>{{this.category}}</h2>
            <p> {{description}} </p>
            <h3> Layers </h3>
            <ul>
              {{#each this.layers}}
              {{#if this.isActive}}
                <li> <a class="layer-selector is-active" id="{{this.slug}}" href="#{{../category}}/{{this.slug}}">{{this.title_dataset}}<span class="btn-info modal-link">i</span></a></li>
              {{else}}
                <li> <a class="layer-selector" id="{{this.slug}}" href="#{{../category}}/{{this.slug}}">{{this.title_dataset}}<span class="btn-info modal-link">i</span></a></li>
              {{/if}}
              {{ else }}
                <p> There are no layers in this category </p>
              {{/each}}
            </ul>
          </article>
        {{else}}
          <p> There are no pulses in this category </p>
        {{/each}}
    </div>
  </div>
</div>
